<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Трекер привычек{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <a href="{% url 'home' %}" class="mb-0 text-dark text-decoration-none" style="font-size: 2rem;">
            Трекер привычек </a>
            {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post" class="d-flex align-items-center" style="display:inline;">
                {% csrf_token %}
                <span class="me-2">👋 Привет, {{ user.username|default:user.email }}</span>
                <button type="submit" class="btn btn-outline-danger btn-sm">Выйти</button>
            </form>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline-primary btn-sm">Войти</a>
            {% endif %}
        </div>
    </nav>
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>